html, body {
	height: 100%;
	margin: 0px;
}
html {
	overflow-y: hidden;
}
body {
	overflow-y: scroll;
}

body {
    font-family: Trebuchet MS,Helvetica,sans-serif;
    background: url("img/tomato_background.png");
    background-position: right bottom;
    background-size: cover;
    background-attachment: scroll;
    min-height: 100%;
}

#content {
    padding: 15px;
}