body {
    font-family: Trebuchet MS,Helvetica,sans-serif;
    background-image: url("img/baby-plum-tomatoes.jpg");
    background-size: cover;
    min-height: 100%;
    padding: 15px;
}

html, body {
  height: 100%;
  margin: 0px;
}
