body {
    font-family: Trebuchet MS,Helvetica,sans-serif;
    background-image: url("img/tomato_background.png");
    background-position: right bottom;
    background-size: cover;
    min-height: 100%;
}

#content {
    padding: 15px;
}

html, body {
  height: 100%;
  margin: 0px;
}
